.createButton{


    width: 200px;
    height: 50px;

    font-weight: bold;
    font-size: 18px;

    background-color: #db59db;
    color: #fff;

    padding: 10px 20px;
    border-radius: 5px;
    border: 0;

    position: absolute;
    bottom: 2px;

    transition: 2s;
}


.createButton:hover{
    cursor: pointer;
    background-color: #aa1faa;

}