.TransactionsList{
    height: 80%;
    border: 1px solid #fff;
    background-color: #2e2e2e;
    border-radius: 5px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}