.Transaction {
    width: 90%;
    margin: 5px;
    padding: 10px;

    background-color: #504f4f;
    border-radius: 5px;

    list-style: none;

    transition: .2s;

    position: relative;
}


.Transaction:hover{

    cursor: pointer;
    background-color: #686666;
}


.expense{
    background-color: #db59db;
    color: #fff;
}

.expense:hover{
    cursor: pointer;
    background-color: #aa1faa;
}

.income{
    background-color: #1faa1f;
    color: #fff;
}

.income:hover{
    cursor: pointer;
    background-color: #6add6a;
}


.DeleteTransaction{
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 22px;
    font-weight: bold;
}

.DeleteTransaction:hover{
    cursor: pointer;
    color: red;
}