
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {

    background-color: #202020 ;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

}


#root {
    width: 90%;
    height: 90%;
    position: relative;
}